.topNav {
  background: rgb(238, 172, 249);
}
.hero {
  min-height: 60vh;
  background: linear-gradient(
    178.67deg,
    #7a87fb 1.11%,
    rgba(15, 39, 254, 0.54) 35.44%,
    rgba(228, 26, 208, 0.34) 98.87%
  );
}

.hero img {
  max-width: 400px;
}

/* title */
.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
  min-height:35vh;
}

.title span {
  border-bottom: 5px solid rgb(94, 71, 243);
  padding: 0.5rem 1rem;
}

/* icons */
.icons {
  font-size: 2rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icons div {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons i {
  font-size: 5rem;
}

i.fa-figma {
  background: linear-gradient(
    180deg,
    #ee1414 0%,
    #d012d3 38.02%,
    #120eb6 66.15%,
    #14b70e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

/* Project section */
.projects {
  background: linear-gradient(
    178.67deg,
    #7a87fb 1.11%,
    rgba(15, 39, 254, 0.54) 35.44%,
    rgba(228, 26, 208, 0.34) 98.87%
  );
}

.contact {
  background: rgba(187, 84, 228, 0.45);
  margin-top: 13rem;
}

#goup {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 3rem;
}

.main-layout {
  min-height: 70vh;
}


/* contact */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  /* margin-bottom: var(--bottom-margin-2); */
  margin-bottom: 10px;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  /* box-shadow: 0 3px 10px 3px; */
  /* box-shadow: 0 3px 10px var(--secondary-shadow); */
  box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}
